<div>
    <div class="login-container">
        <div class="row">
            <div class="col text-center login-col">
                <h1 class="text-left">Login</h1>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </div>

                <div class="text-center btn-div">
                    <button class="login-btn" mat-button>Login</button>
                </div>
            </div>
        </div>
        <div class="text-center" style="padding-top: 5em;">
            <img src="../../assets/img/109-1093967_lynette-hayhow-car-fixing-vector-png 1.png" width="300px" alt="" class="img-fluid">
        </div>
    </div>
</div>