<div class="footer-div">
    <div class="     footer-container">
        <div class="col-sm">
            <h1 class="text-center" style="font-weight: bold;">Kontaktirajte nas.</h1>
            <form [formGroup]="messageForm">

                <div class="row">
                    <div class="col-sm">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Ime i prezime</mat-label>
                                <input formControlName="full_name" matInput placeholder="Placeholder">

                            </mat-form-field>

                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input formControlName="mail" matInput placeholder="Placeholder">

                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Poruka</mat-label>
                        <textarea formControlName="message" matInput placeholder="Placeholder"></textarea>

                    </mat-form-field>

                </div>
                <div class="text-center">
                    <button class="footer-btn" (click)="send()">Pošalji</button>
                </div>
            </form>

        </div>
    </div>
    <div class="copyright-div">
        <div class="row">
            <div class="col">
                <h5>Copyright 2020 | <a href="">Alemarc</a> | Sva prava zadrzana</h5>
            </div>
            <div class="col text-right">
                <h5><i class="fa fa-instagram" style="font-size: 30px;color: #ffe600;"></i> @servis.lukic</h5>
            </div>
        </div>
    </div>
</div>