<div class="footer-div">
    <div class="container footer-container">
        <div class="row">
            <div class="col-sm">
                <h1>Lorem ipsum</h1>
                <form [formGroup]="messageForm">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Ime i prezime</mat-label>
                            <input formControlName="full_name" matInput placeholder="Placeholder">

                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Predlog</mat-label>
                            <input formControlName="subject" matInput placeholder="Placeholder">

                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input formControlName="mail" matInput placeholder="Placeholder">

                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Poruka</mat-label>
                            <textarea formControlName="message" matInput placeholder="Placeholder"></textarea>

                        </mat-form-field>

                    </div>
                    <button class="footer-btn" (click)="send()">Lorem ipsum</button>
                </form>

            </div>
            <div class="col-sm">
                <img src="../../assets/img/109-1093967_lynette-hayhow-car-fixing-vector-png 1.png" alt=""
                    class="img-fluid">
            </div>
        </div>
    </div>
</div>