@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.footer-div {
    background-color: #222;
}

.footer-div,
h1 {
    color: #eee;
    font-family: 'Raleway', sans-serif;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ffe600 !important;
}

::ng-deep.input.mat-input-element {
    color: #eee !important;
}

mat-label {
    color: #eee;
}

mat-form-field {
    width: 100%;
}

.footer-container {
    padding: 10em 30% 10em 30%;
}

.footer-btn {
    background-color: #ffe600;
    border: 0 !important;
    padding-top: .3em;
    padding-bottom: .3em;
    width: 50%;
    font-size: 20px;
    -webkit-box-shadow: 10px 10px 44px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 44px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 44px -20px rgba(0, 0, 0, 0.75);
    margin-top: 2em;
}

form {
    padding-top: 2em;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

h5,
a {
    font-family: 'Raleway', sans-serif;
    color: #555;
}

.col-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.copyright-div {
    padding-left: 6em;
    padding-right: 6em;
}

@media screen and (max-width:600px) {
    .col-sm {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
    }
    .footer-container {
        padding: 10em 10% 10em 10%;
    }
    .footer-btn {
        width: 100%;
        padding-top: .4em;
        padding-bottom: .4em;
    }
    .copyright-div {
        padding: 0 1em 1em 1em;
    }
}