<div class="header-div" #top>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="../../assets/img/sl-yellow.png" width="50px" class="img-fluid" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-right">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']" routerLinkActive="router-link-active">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tuning']" routerLinkActive="router-link-active">Tuning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/key']" routerLinkActive="router-link-active">Ključevi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Radovi</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="">
    <div class="row header-row">
      <div class="col-sm text-right">
        <img src="../../assets/img/c5fe34586ee13149f3ca3aeb4347ffb4 1.png" width="700px" class="img-fluid" alt="">
      </div>
      <div class="col-sm">
        <h1 class="header-h1">Tuning.</h1>
        <p class="tuning-paragraf">
          Svaki vlasnik automobila je barem jednom poželeo više snage u svom autu.Naš servis pruža mogućnost povećanje
          snage motora,a ujedno i smanjenje potrošnje.


        </p>
        <button class="header-btn" (click)="scrollToElement(more)">Više <i class="fa fa-arrow-down"></i></button>
      </div>
    </div>
  </div>
  <button id="fixed-btn" (click)="scrollToElement(top)" mat-raised-button><i class="fa fa-arrow-up"></i></button>
</div>
<div class="tuning-fact" #more>
  <div class="row">
    <div class="col-sm tuning-left-col" style="background-color: #222;">
      <div>
        <h1 class="tuning-white-h1">Chip</h1>
        <h1 class="tuning-yellow-h1">Tuning</h1>
        <div class="vertical-divider"></div>
        <p class="tuning-fact-paragraf">
          Unapredi svoju vožnju na viši nivo

        </p>
      </div>
    </div>
    <div class="col-sm-7 car-col">
      <div class="row">
        <div class="col-sm-8">
          <div class="container fact-container">
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/img/53128-svg 1.png" alt="" class="img-fluid">
                <p class="fact-paragraf">
                  Povećanje snage motora do <span style="font-weight: bold;">30%</span>
                </p>
              </div>
              <div class="col-sm">
                <img src="../../assets/img/torque 1.png" width="100px" alt="" class="img-fluid">
                <p class="fact-paragraf">
                  Povećanje obrtnog momenta
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/img/fuel-tank-png-fuel-tank-opening-key-comments-880 1.png" alt=""
                  class="img-fluid">
                <p class="fact-paragraf">
                  Smanjenje potrošnje optimalno od 0.5l-1l
                </p>
              </div>
              <div class="col-sm">
                <img src="../../assets/img/310831 1.png" alt="" class="img-fluid">
                <p class="fact-paragraf">
                  Unikatne tuninig mape za Vaš automobil
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
<div class="alien-div">
  <div class="container">
    <h1 class="alien-h1 text-center">Partnerstvo</h1>
    <div class="vertical-divider-large"></div>
    <div class="row alient-row">
      <div class="col-sm">
        <img src="../../assets/img/Logo_alientech_2018 1.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm">
        <p class="alien-paragraf">
          Alientech srl. je italijanska kompanija koja od 1991. godine vrši tuning motora, kako za obične tako i za
          trkaće automobile. Zahvaljujući alatima koje je razvio visoko kvalifikovani tim inženjera, Alientech je
          vodeći proizvođač čip tuninga.Sem
          tuninga,alati su namenjeni i za bilo koji remaping motornog računara.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>