<div class="header-div">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >
      <img src="../../assets/img/sl-yellow.png" width="50px" class="img-fluid" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >
            Pocetna
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/key']" routerLinkActive="router-link-active" >Key</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="">
    <div class="row header-row">
      <div class="col-sm text-right">
        <img src="../../assets/img/c5fe34586ee13149f3ca3aeb4347ffb4 1.png" width="700px" alt="">
      </div>
      <div class="col-sm">
        <h1 class="header-h1">Tuning</h1>
        <p class="tuning-paragraf">
          Lorem Ipsum is simply dummy text <br> of the printing and typesetting industry. <br> Lorem Ipsum has been the
          industry's
        </p>
        <button class="header-btn">Lorem</button>
      </div>
    </div>
  </div>
</div>
<div class="tuning-fact">
  <div class="row">
    <div class="col-sm tuning-left-col" style="background-color: #222;">
      <div>
        <h1 class="tuning-white-h1">Chip</h1>
        <h1 class="tuning-yellow-h1">Tuning</h1>
        <div class="vertical-divider"></div>
        <p class="tuning-fact-paragraf">
          Lorem Ipsum is simply dummy text
          of the printing and

        </p>
      </div>
    </div>
    <div class="col-sm-7 car-col">
      <div class="row">
        <div class="col-sm-8">
          <div class="container fact-container">
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/img/53128-svg 1.png" alt="" class="img-fluid">
                <p class="fact-paragraf">Lorem Ipsum is simply
                  dummy text
                  of the printing and
                </p>
              </div>
              <div class="col-sm">
                <img src="../../assets/img/torque 1.png" width="100px" alt="" class="img-fluid">
                <p class="fact-paragraf">Lorem Ipsum is simply
                  dummy text
                  of the printing and
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/img/fuel-tank-png-fuel-tank-opening-key-comments-880 1.png" alt=""
                  class="img-fluid">
                <p class="fact-paragraf">Lorem Ipsum is simply
                  dummy text
                  of the printing and
                </p>
              </div>
              <div class="col-sm">
                <img src="../../assets/img/310831 1.png" alt="" class="img-fluid">
                <p class="fact-paragraf">Lorem Ipsum is simply
                  dummy text
                  of the printing and
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
<div class="alien-div">
  <div class="container">
    <h1 class="alien-h1 text-center">Partnerstvo</h1>
    <div class="vertical-divider-large"></div>
    <div class="row alient-row">
      <div class="col-sm">
        <img src="../../assets/img/Logo_alientech_2018 1.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm">
        <p class="alien-paragraf">
          Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make
          a type specimen book. It has survived not only
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>