/* Header */

@import '../../assets/css/sidebar.css';
.header-btn {
    padding: .3em 3em .3em 3em;
    font-size: 20px;
    border: 2px solid #ffe600;
    background-color: transparent;
    color: #eee;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.header {
    background-color: #222;
    border-bottom: 1px solid #ffe600;
}

nav {
    border-bottom: .5px solid #333;
}

.header-h6 {
    font-family: 'Raleway', cursive;
    color: #eee;
    padding-top: 25%;
    line-height: 1px;
}

.header-h1 {
    font-family: 'Righteous', cursive;
    color: #ffe600;
}

.header-paragraf {
    font-family: 'Raleway', cursive;
    font-size: 20px;
    color: #eee;
}

.header-container {
    padding-top: 5em;
}

.nav-link {
    color: #eee;
}


/* Header */


/* Images */

.image-div {
    background-color: #222;
}

.category-li {
    list-style-type: none;
    font-size: 25px;
    font-family: 'Raleway', cursive;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    color: #eee;
}

.category-ul {
    padding-top: 2em;
}

.category-li:hover {
    color: #ffe600;
    transition: .2s ease-in;
}

.all-li {
    border-left: 1px solid #ffe600;
}

.porfolio-container {
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.porfolio-div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.figure {
    padding: 5em;
    transition: ease .5s;
}

.figure-img {
    -webkit-box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
    box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
}

.figure-h5 {
    font-family: 'Raleway', cursive;
    color: #222;
}

.figure-description {
    background-color: #F3F4F5;
    padding: 1em .5em 1em .5em;
    -webkit-box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
    box-shadow: 4px 11px 38px -12px rgba(0, 0, 0, 0.69);
}

.figure-paragraf {
    font-family: 'Raleway', cursive;
    font-size: 20px;
    line-height: 10px;
    font-weight: bold;
}

.slider-img {
    -webkit-box-shadow: 9px 11px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 11px 32px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 11px 32px -8px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 500px;
}

@media screen and (max-width:600px) {
    .category-li {
        display: block;
        padding-right: 3em;
        border-left: 1px solid #ffe600;
        margin-top: 1em;
    }
    h3 {
        font-family: 'Raleway', cursive;
        color: #F3F4F5;
    }
    .figure-img {
        width: 250px;
        height: 250px;
    }
    .figure {
        padding: 5em 0em 5em 0em;
    }
    .mobile-slider {
        display: block !important;
    }
    .desktop-slider {
        display: none;
    }
}


/* Images */