<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="over" style="width: 90%;">
    <div class="row" style="padding-top: 2em;">
      <div class="col">
        <img src="../../assets/img/sl-white.png" width="50px" alt="" class="img-fluid">
      </div>
      <div class="col text-right">
        <button class="close-btn" (click)="drawer.toggle()" mat-button><i class="fa fa-close"></i></button>
      </div>
    </div>

    <div class="container menu-container">
          <div class="text-center">
              <button class="menu-btn" [routerLink]="['/']" routerLinkActive="router-link-active"  mat-button>Pocetna</button>
          </div>
          <div class="text-center">
              <button class="menu-btn menu-btn-1" [routerLink]="['/tuning']" routerLinkActive="router-link-active"  mat-button>Tuning</button>
          </div>
          <div class="text-center">
              <button class="menu-btn menu-btn-1" [routerLink]="['/key']" routerLinkActive="router-link-active"  mat-button>Ključevi</button>
          </div>
          <div class="text-center">
              <button class="menu-btn menu-btn-1 current" [routerLink]="['/portfolio']" routerLinkActive="router-link-active"  mat-button>Portfolio</button>
          </div>
      </div>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <div class="header" #top>
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
            <img src="../../assets/img/sl-white.png" alt="" width="50px" class="img-fluid">
          </a>
          <button class="navbar-icon navbar-toggler" mat-button  (click)="drawer.toggle()">
        <i class="fa fa-bars"></i>
      </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-right">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/']" routerLinkActive="router-link-active">Početna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/tuning']" routerLinkActive="router-link-active">Tuning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/key']" routerLinkActive="router-link-active">Ključevi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Radovi</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container header-container">
          <div class="row">
            <div class="col-sm">
              <img src="../../assets/img/900-9004948_auto-mechanic-student 1.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm">
              <h6 class="header-h6">Naši</h6>
              <h1 class="header-h1">Radovi</h1>
              <p class="header-paragraf">Uverite se i sami u naš kvalitet kroz galeriju radova</p>
              <button class="header-btn" (click)="scrollToElement(photos)">Radovi <i
                  class="fa fa-arrow-down"></i></button>
            </div>
          </div>

          <button id="fixed-btn" (click)="scrollToElement(top)" mat-raised-button><i
              class="fa fa-arrow-up"></i></button>
        </div>
      </div>
      <div class="image-div text-center" #photos>
        <div class="container text-center">
          <ul class="category-ul">
            <a *ngFor="let item of listOfCategory" (click)="sortList(item.title)">
              <li class="category-li">{{item.title}}</li>
            </a>
            <a (click)="getPhotos()">
              <li class="all-li category-li">All</li>
            </a>
          </ul>
        </div>

        <div class="text-center">
          <div class="row">
            <div class="">
              <div class="figure " *ngFor="let photo of listOfPhotos" data-aos="fade-right" data-aos-duration="1000">
                <img class="figure-img" src="{{photo.url}}" width="350px" height="350px" alt="">
                <div class="figure-description">
                  <h5 class="text-left figure-h5">{{photo.category.title}}</h5>
                  <p class="figure-paragraf text-left">{{photo.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>