::ng-deep.mat-dialog-container{
    width: 50em;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #555 !important;
}

mat-form-field{
    width: 100%;
}

mat-label{
    color: #555555;
}

.send-btn{
    margin-top: 1em;
    width: 100%;
    background-color: #ffe600;
    color: #222;
}

div{
    font-family: 'Raleway', sans-serif;
}