<div class="admin-cms-div">
    <div class="container nav-container">
        <div class="row">
            <div class="col">
                <h4>Lorem</h4>
            </div>
            <div class="col text-right">
                <button mat-button>Lorem</button>
                <button mat-button>Lorem</button>
            </div>
        </div>
    </div>
    <div class="container admin-container">
     <div class="row">
        <div class="col-sm-3">
            <div>
                <button mat-button>Lorem</button>
            </div>
            <div>
                <button mat-button>Lorem</button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-sm-8">
            <div class="photo-div">
                <div class="text-left" style="padding-top: 1em;padding-bottom: 1em;">
                    <button (click)="openDialog()" mat-raised-button color="primary">Lorem</button>
                </div>
                <table mat-table [dataSource]="listOfPhotos" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef class="text-center">File name </th>
                        <td class="text-center" mat-cell *matCellDef="let element">{{element.fileName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="category" class="text-center">
                        <th mat-header-cell *matHeaderCellDef>Category</th>
                        <td class="text-center" mat-cell *matCellDef="let element">{{element.category.title}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="option" class="text-center">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-center" mat-cell *matCellDef="let element">
                            <button mat-raised-button (click)="openPhotoPreviewDialog(element.url)">Preview</button>
                            <button mat-raised-button class="delete-btn" (click)="deletePhoto(element._id,element.fileName)">Delete</button>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->

                    <tr mat-header-row *matHeaderRowDef="photoColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: photoColumns;"></tr>
                </table>


            </div>
        </div>
     </div>
    </div>
</div>s