@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');