@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import 'assets/css/imagehover.css-master/css/imagehover.min.css';
nav {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: none;
}

.nav-link:hover {
    color: #999;
    transition: .5s ease;
}

::-webkit-scrollbar {
    height: 1em;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background: #ffe600;
    border-radius: 10px;
}

button {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

#fixed-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 1em;
    padding: 1em;
    border: 0 !important;
    background-color: #ffe600;
    color: #222;
    -webkit-box-shadow: -1px 18px 49px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 18px 49px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 18px 49px -15px rgba(0, 0, 0, 0.75);
}

#content {
    display: none;
    animation: fadein 2s;
}

.navbar-toggler {
    border-radius: 25px;
    border: 1px solid #ffe600;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}