a {
    color: #e1e1e1;
}

div{
    background-attachment: fixed;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Header */

.header-div {
    background-image: url('../../assets/img/20190410_143305-CarService01_006.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffe600;
    padding-top: 4em;
    font-size: 60px;
    font-weight: bold;
}

.header-paragraf {
    font-family: 'Raleway', sans-serif;
    color: #e1e1e1;
    font-size: 25px;
}

.header-btn {
    background-color: transparent;
    border: 2px solid #e1e1e1;
    color: #e1e1e1;
    font-size: 25px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .3em;
    padding-bottom: .3em;
    margin-top: 1em;
}

/* Header */

/* Fact */

.fact-div {
    background-color: #ffe600;
    padding-top: 10em;
    padding-bottom: 10em;
}

.fact-div h3 {
    font-family: 'Raleway', sans-serif;
    padding-top: 1em;
}

/* Fact */

/* Porfolio */

.portfolio-div {
    background-color: #222;
}

.porfolio-img-row .col {
    padding: 0 !important;
}

.porfolio-img-row {
    margin-top: 3em;
    padding-left: 10em;
}

.portfolio-h1 {
    font-family: 'Raleway', sans-serif;
    color: #eee;
    margin-bottom: .5em;
}

.vertical-divider {
    height: 100px;
    border-left: 1px solid #ffe600;
    margin-left: 50%;
}

.portfolio-paragraf {
    color: #e1e1e1;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding-top: 1em;
}

.va-paragraf {
    color: #e1e1e1;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding-top: 1em;
    border-right: 1px solid #ffe600;
    padding-right: 1em;
}

.portfolio-container {
    padding-top: 7em;
    padding-bottom: 7em;
}

figcaption {
    font-family: 'Raleway', cursive;
    color: #222;
    font-size: 25px;
}

.small-caption {
    font-size: 20px !important;
}

/* Portfolio */

/* Tuning  */

.tuning-div {
    background-color: #F3F4F5;
}

.tuning-img-col {
    padding-top: 30%;
}

.tuning-btn {
    border: 1px solid #222;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: transparent;
    font-size: 20px;
}

.tuning-paragraf {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.tuning-h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.right-col {
    border-left: 2px solid #ffe600;
    padding-left: 2em;
}

.tuning-container {
    padding-top: 7em;
    padding-bottom: 7em;
}

/* Tuning  */

/* Key */

.key-div {
    background-color: #F3F4F5;
}

.key-img-col {
    padding-top: 30%;
    border-right: 2px solid #ffe600;
    padding-left: 2em;
}

/* Key */

/* About */

.about-div  {
    background-color: #F3F4F5;
    padding-top: 10em;
}

.white-col {
    background-color: #F3F4F5;
}

.yellow-col {
    background-color: #ffe600;
}

.black-col {
    background-color: #222;
}

.card-content {
    padding: 5em;
    font-family: 'Raleway', sans-serif;
}

.card-content, h2 {
    padding-top: 2em;
}

.yellow-paragraf {
    color: #ffe600;
    padding-top: 2em;
}

/* About */