<div class="header-div">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="../../assets/img/sl-white.png" alt="" width="50px" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tuning']" routerLinkActive="router-link-active" >Tuning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/key']" routerLinkActive="router-link-active" >Key</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="header-h1">Servis Lukić</h1>
        <p class="header-paragraf">Lorem Ipsum is simply dummy text
          of the printing and
          typesetting industry. Lorem Ipsum has</p>
        <button class="header-btn">Više</button>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>
<div class="fact-div">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="../../assets/img/img_21240.png" class="img-fluid">
        <h3>Lorem ipsum dolor</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/53128-svg 1.png" class="img-fluid">
        <h3>Lorem ipsum dolor</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/wrench-icon-png-free-download-wrench-png-png-720_720 1.png" class="img-fluid">
        <h3>Lorem ipsum dolor</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/img_561138 1.png" class="img-fluid">
        <h3>Lorem ipsum dolor</h3>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-div text-center">
  <div class="container portfolio-container">
    <h1 class="portfolio-h1">Portfolio</h1>
    <div class="vertical-divider text-center"></div>
    <div class="row porfolio-img-row">
      <div class="col text-right">
        <figure class="imghvr-zoom-out-right">
          <img [src]="firstPic" height="400px" width="450px" alt="">
          <figcaption class="text-center" style="padding-top: 40%;">
            {{firstCat}}
          </figcaption>
        </figure>

      </div>
      <div class="col text-left">
        <div class="col">
          <figure class="imghvr-zoom-out-right">
            <img [src]="secPic" width="300px" height="200px" alt="">
            <figcaption class="text-center small-caption" style="padding-top: 30%;">
              {{secCat}}
            </figcaption>
          </figure>

        </div>
        <div class="col">
          <figure class="imghvr-zoom-out-right">
            <img [src]="thrPic" width="300px" height="200px" alt="">
            <figcaption class="text-center small-caption" style="padding-top: 30%;">
              {{thrCat}}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <p class="portfolio-paragraf">Lorem ipsum dolor nunc exdaw</p>
    <div class="text-right">
      <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">
        <p class="va-paragraf">View all</p>
      </a>
    </div>
  </div>
</div>
<div class="tuning-div">
  <div class="container tuning-container">
    <div class="row">
      <div class="col-sm">
        <img src="../../assets/img/c5fe34586ee13149f3ca3aeb4347ffb4 1.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm right-col">
        <h1 class="tuning-h1">Lorem ipsum</h1>
        <p class="tuning-paragraf">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry.
          Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s,
          when an unknown printer took a galley
          of type and scrambled it to make a type
          specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting
        </p>
        <button class="tuning-btn">Lorem</button>
      </div>
    </div>
  </div>
</div>
<div class="key-div">
  <div class="container key-container">
    <div class="row">
      <div class="col-sm">
        <div class="col-sm left-col">
          <h1 class="tuning-h1">Lorem ipsum</h1>
          <p class="tuning-paragraf">
            Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
            Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s,
            when an unknown printer took a galley
            of type and scrambled it to make a type
            specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting
          </p>
          <button class="tuning-btn">Lorem</button>
        </div>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/XC-MINI-CONDOR-PLUS-KEY-CUTTING-MACHINE-NEW-ITEM- 1.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<div class="about-div">
  <div class="row">
    <div class="col-sm white-col">
      <div class="card-content text-center">
        <h2 class="about-h1">Lorem ipsum</h2>
        <p class="about-paragraf">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
        <img src="../../assets/img/Time_Outline_Time_Fast_Watch_Clock_Hour-512 1.png" width="50px" alt=""
          class="img-fluid">
      </div>
    </div>
    <div class="col-sm yellow-col">
      <div class="card-content text-center">
        <h2 class="about-h1">Lorem ipsum</h2>
        <p class="about-paragraf">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
        <img src="../../assets/img/228-2281356_award-experience-icon-experience-png-transparent-png (1) 1.png"
          width="50px" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-sm black-col">
      <div class="card-content text-center">
        <h2 class="about-h1" style="color: #eee;">Lorem ipsum</h2>
        <p class="about-paragraf yellow-paragraf">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
        <img src="../../assets/img/trust-icon-18 1.png" width="50px" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>