<form [formGroup]="editPhotoForm">

    <div class="text-center">
        <mat-form-field appearance="outline">
            <mat-label>Type text</mat-label>
            <input matInput formControlName="description">
            <mat-hint>Short description</mat-hint>
        </mat-form-field>
    </div>
    <div class="text-center">
        <mat-form-field appearance="outline">
            <mat-label>Select me</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let item of listOfCategory" [value]="item">
                    {{item.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="text-center">
        <button mat-raised-button style="width: 100%;background-color: #ffe600;color: #222;" (click)="update()">Save</button>
    </div>
</form>