
<div>
    <div class="header">

        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="../../assets/img/sl-yellow.png" alt="" width="50px" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active ">
                        <a class="nav-link" [routerLink]="['/tuning']" routerLinkActive="router-link-active" >Tuning <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >Portfolio</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        <div class="container text-center header-container">
            <div class="row">
                <div class="col-sm">
                    <h1 class="header-h1 text-left">Tuning</h1>
                    <p class="key-paragraf text-left">
                        Lorem Ipsum is simply dummy text <br> of the printing and typesetting industry. <br> Lorem Ipsum
                        has been the
                        industry's
                    </p>
                    <div class="text-left">
                        <button class="header-btn">Lorem</button>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="../../assets/img/XC-MINI-CONDOR-PLUS-KEY-CUTTING-MACHINE-NEW-ITEM- 1.png" width="500px"
                        alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <section class="index-howto-alt py-3">
        <div class="container">
            <h2 class="text-center mb-3 scroll" data-scroll="toggle(.ease)">
                Proces izrade ključa kod nas</h2>
            <div class="psd-line pos-rel" style="position:relative;">
                <div class="row align-items-center">
                    <div
                        class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-1 p-5">
                        <img src="../../assets/img/step-2-office.png" width="200px" data-aos="fadeInUp"
                            class="howto-img">
                        <h2 class="grey-text d-none" style="color: #222;" data-aos="fade-up-right"
                            data-aos-duration="1500"></h2>
                    </div>
                    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left1">
                        <p class="m-0 text-center text-sm-left" style="color: #222;" data-aos="zoom-out"
                            data-aos-duration="1500">Naš servis opremljen je profesionalnom opremom u koju se možete u
                            veriti po dolasku u servis.Pored toga potrudili smo se isto tako da enterijer servisa bude
                            lepo uređen.<br></p>
                    </div>
                </div>
                <div class="row flex-column-reverse align-items-center flex-sm-row">
                    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                        <p class="m-0 text-center text-sm-right" style="color: #222;" data-aos="fade-up"
                            data-aos-duration="1500">Na Vama je samo da ostavite ključ i sačekate izradu rezervnog ili
                            potpuno novog ključa.A mi garantujemo da će sve biti izvršeno u rekordnom vremenu.<br></p>
                    </div>
                    <div
                        class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-2 p-5">
                        <img src="../../assets/img/step-key-1.png" width="200px" class="howto-img" data-aos="fade-right"
                            data-aos-duration="1500">
                        <h2 class="grey-text d-none" style="color: #222;"></h2>

                    </div>
                </div>
                <div class="row align-items-center">
                    <div
                        class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-3 p-5">
                        <img src="../../assets/img/step-3-audi-key.png" width="200px" data-aos="zoom-out"
                            data-aos-duration="1500" class="howto-img">
                        <h2 class="grey-text d-none" style="color: #222;">Size Uygun Teklifi Seçin</h2>
                    </div>
                    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left2">
                        <p class="m-0 text-center text-sm-left" style="color: #222;" data-aos="fade-right"
                            data-aos-duration="1000">Izrada i kodiranje ključeva za gotovo sve marke automobila.A naša
                            savremena oprema podržava kodiranje i gotovo najnovijih modela poznatih brendova kao što su
                            Audi,Mercedes i BMW.</p>
                    </div>
                </div>
                <div class="row flex-column-reverse align-items-center flex-sm-row">
                    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right2">
                        <p class="m-0 text-center text-sm-right" style="color: #222;" data-aos="fade-up-right"
                            data-aos-duration="1300">Na kraju ono što dobijete jeste proizvod vrhuskog kvaliteta i
                            funkcionalnosti.A mi smo se podrudili da klijentima uz svaki izrađeni ključ na poklon damo
                            privezak istog brenda automobila.</p>
                    </div>
                    <div
                        class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-4 p-5">
                        <img src="../../assets/img/step-4-end.png" width="200px" data-aos="flip-left"
                            data-aos-duration="1200" class="howto-img">
                        <h2 class="grey-text d-none" style="color: #222;">Piyasa Analizi Yaptırın</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="akl">
        <div class="row akl-row">
            <div class="col-sm">
                <h1 class="akl-h1">Lorem ipsum</h1>
                <div class="vertical-divider"></div>
                <p class="akl-paragraf">Naš servis opremljen je profesionalnom opremom
                    u koju se možete u veriti po dolasku
                    u servis.Pored toga potrudili smo se isto tako
                    da enterijer servisa bude lepo uređen.</p>

                    <button mat-raised-button color="primary" class="akl-btn">Lorem</button>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <app-footer></app-footer>

</div>